*{
  font-family: montserrat,sans-serif;
  letter-spacing:0.5px;
}
.signup {
  display: flex;
}
.signup h1,
.signup h2 {
  padding-left: 30px;
  color: black;
}
img {
  background-color: rgb(255, 245, 245);
}

.input {
  text-align: center;
  width: 100%;
}
h3 {
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.input input {
  width: 50%;
  padding: 16px 0px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}
#continue {
  background-color: #a5a5a5;
  color: white;
}
button {
  padding: 10px 5px;
  width: 50%;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #615c5c;
}
[type="submit"] {
  cursor: pointer;
}

/* here */

#navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: center;
}
#logo {
  width: 147px;
  height: 52px;
}
#img {
  width: 195px;
  height: 52px;
  display: flex;
  justify-content: center;
}
#mwm {
  width: 487.5px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.men {
  position: relative;
  display: inline-block;
  float: right;
}
.dropdown {
  display: none;
  position: absolute;
  margin-top: 16px;
  background-color: white;
  min-width: 160px;
  width: 500px;
  height: 300px;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown a {
  text-decoration: none;
  display: block;
  color: rgba(11, 6, 6, 0.589);

  font-size: 12px;
}
.dropdown a:hover {
  background-color: grey;
  color: #ffffff;
  border-radius: 5px;
  padding: 2px;
  font-size: 15px;
}
.men:hover .dropdown {
  display: block;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
}
#men,
#women,
#mc {
  text-decoration: none;
  color: black;
}
#sldiv {
  width: 487.5px;
  height: 52px;
  display: flex;
}
#mwmdiv {
  width: 287.93px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#mwmdiv > a {
  text-decoration: none;
  color: black;
}
#inputdiv {
  width: 285.29px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 9px;
}
#searchbar {
  width: 270.28px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ebeaeb;
  border-radius: 5px;
}
#logindiv {
  display: flex;
  width: 184.21px;
  height: 52px;
  justify-content: space-evenly;
  align-items: center;
}
#login {
  text-decoration: none;
  color: black;
}
#seperator {
  border-left: solid 1px;
  width: 1px;
  height: 20px;
}
#cart {
  width: 20px;
  height: 20px;
}
#countryicon {
  width: 30px;
  height: 30px;
}
#inputbar {
  width: 81%;
  font-size: 11px;
  background-color: #ebeaeb;
  line-height: 1.5px;
  border: none;
}
#searchicon {
  width: 18px;
  height: 17.6px;
  font-size: 18px;
}

#signup {
  width: 50%;
  padding: 16px 0px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #a5a5a5;
  color: white;
}

button {
  cursor: pointer;
}

* {
  text-decoration: none;
}
#signup:hover {
  background-color: rgb(3, 79, 134);
  color: black;
}
