*{
  font-family: montserrat,sans-serif;
  letter-spacing:0.5px;
}
#navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: center;
}
#logo {
  width: 147px;
  height: 52px;
}
#img {
  width: 195px;
  height: 52px;
  display: flex;
  justify-content: center;
}
#mwm {
  width: 487.5px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.men {
  position: relative;
  display: inline-block;
  float: right;
}
.dropdown {
  display: none;
  position: absolute;
  margin-top: 16px;
  background-color: white;
  min-width: 160px;
  width: 500px;
  height: 300px;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown a {
  text-decoration: none;
  display: block;
  color: rgba(11, 6, 6, 0.589);

  font-size: 12px;
}
.dropdown a:hover {
  background-color: grey;
  color: #ffffff;
  border-radius: 5px;
  padding: 2px;
  font-size: 15px;
}
.men:hover .dropdown {
  display: block;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
}
#men,
#women,
#mc {
  text-decoration: none;
  color: black;
}
#sldiv {
  width: 487.5px;
  height: 52px;
  display: flex;
}
#mwmdiv {
  width: 287.93px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#mwmdiv > a {
  text-decoration: none;
  color: black;
}
#inputdiv {
  width: 285.29px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 9px;
}
#searchbar {
  width: 270.28px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ebeaeb;
  border-radius: 5px;
}
#logindiv {
  display: flex;
  width: 184.21px;
  height: 52px;
  justify-content: space-evenly;
  align-items: center;
}
#login {
  text-decoration: none;
  color: black;
}
#seperator {
  border-left: solid 1px;
  width: 1px;
  height: 20px;
}
#cart {
  width: 20px;
  height: 20px;
}
#countryicon {
  width: 30px;
  height: 30px;
}
#inputbar {
  width: 81%;
  font-size: 11px;
  background-color: #ebeaeb;
  line-height: 1.5px;
  border: none;
}
#searchicon {
  width: 18px;
  height: 17.6px;
  font-size: 18px;
}

#container {
  width: 70%;
  margin: -20px auto;
  display: flex;
  /* border: 1px solid red; */
  height: 700px;
}
#imgg {
  /* border: 1px solid rgb(98, 0, 0); */
  width: 45%;
  height: 90%;
  margin: 30px;
}
#imgg > img {
  width: 100%;
  height: 90%;
}
#detail {
  /* border: 1px solid blue; */
  width: 55%;
  height: 90%;
  margin: 10px;
  padding: 15px;
}
#detail > h3 {
  font-size: 22px;
}

#detail > h5 {
  font-size: 19px;
  font-weight: 500;
  color: #595959;
}
#prise {
  display: flex;
  gap: 10px;
}
#prise > p {
  color: #58b954;
}
#prise > h4 {
  text-decoration: line-through;
  color: rgb(113, 113, 113);
}
#tax {
  margin-top: -20px;
  color: rgb(113, 113, 113);
}
#detail > button {
  width: 60px;
  height: 30px;
}
#pre {
  background-color: #595959;
  display: inline-block;
  color: white;
  padding: 5px;
}
#select {
  display: flex;
  gap: 20px;
}
#select > h4 {
  margin-top: 9px;
}
#select > select {
  width: 70px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#addcart {
  width: 90%;
  margin: auto;
  padding: 10px 20px;
}
#addcart > button {
  width: 200px;
  height: 40px;
  border: 0px;
  border-radius: 5px;
}
#addcart > button:nth-child(1) {
  color: black;
  background-color: #fcd84d;
}
ul {
  color: #595959;
}
#floww {
  margin-left: 105px;
  color: #595959;
}
#floww:hover {
  cursor: pointer;
}
