*{
  font-family: montserrat,sans-serif;
  letter-spacing:0.5px;
}
#navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: center;
}
#logo {
  width: 147px;
  height: 52px;
}
#img {
  width: 195px;
  height: 52px;
  display: flex;
  justify-content: center;
}
#mwm {
  width: 487.5px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.men {
  position: relative;
  display: inline-block;
  float: right;
}
.dropdown {
  display: none;
  position: absolute;
  margin-top: 16px;
  background-color: white;
  min-width: 160px;
  width: 500px;
  height: 300px;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown a {
  text-decoration: none;
  display: block;
  color: rgba(11, 6, 6, 0.589);

  font-size: 12px;
}
.dropdown a:hover {
  background-color: grey;
  color: #ffffff;
  border-radius: 5px;
  padding: 2px;
  font-size: 15px;
}
.men:hover .dropdown {
  display: block;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
}
#men,
#women,
#mc {
  text-decoration: none;
  color: black;
}
#sldiv {
  width: 487.5px;
  height: 52px;
  display: flex;
}
#mwmdiv {
  width: 287.93px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#mwmdiv > a {
  text-decoration: none;
  color: black;
}
#inputdiv {
  width: 285.29px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 9px;
}
#searchbar {
  width: 270.28px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ebeaeb;
  border-radius: 5px;
}
#logindiv {
  display: flex;
  width: 184.21px;
  height: 52px;
  justify-content: space-evenly;
  align-items: center;
}
#login {
  text-decoration: none;
  color: black;
}
#seperator {
  border-left: solid 1px;
  width: 1px;
  height: 20px;
}
#cart {
  width: 20px;
  height: 20px;
}
#countryicon {
  width: 30px;
  height: 30px;
}
#inputbar {
  width: 81%;
  font-size: 11px;
  background-color: #ebeaeb;
  line-height: 1.5px;
  border: none;
}
#searchicon {
  width: 18px;
  height: 17.6px;
  font-size: 18px;
}

#imgdiv {
  width: 80%;
  margin: auto;
  display: none;
  /* display: grid; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 600px);
  grid-gap: 20px;
}
#imgdiv > div {
  /* padding: 25px; */
  margin: 0px;
  height: 750px;
  padding: 5px;
}
#imgdiv > div :hover {
  cursor: pointer;
}
#imgdiv img {
  width: 100%;
  height: 60%;
}

#indata {
  display: flex;
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;
  background-color: #f5f5f5;
  padding: 30px;
  height: 600px;
}
#inpdiv {
  /* border: 1px solid green; */
  width: 60%;
}
#rightdiv {
  width: 40%;
  /* border: 1px solid black; */
}
select:hover,
input:hover,
td:hover,
#floww:hover {
  cursor: pointer;
}
td {
  width: 350px;
  height: 50px;
}
table {
  margin-top: -20px;
}
select {
  margin-right: 10px;
}
#inpfrrm {
  margin-top: 30px;
  padding: 30px 30px;
  /* border: 1px solid blue; */
  background-color: white;
  height: 400px;
}
#Brand,
#model {
  width: 200px;
  height: 36px;
  border-color: #595959;
  border-radius: 4px;
}
#sub {
  width: 140px;
  height: 36px;
  border: 0px solid black;
  background-color: #cfcfcf;
  border-radius: 5px;
}

#rightdiv > img {
  margin-top: 87px;
  margin-left: 50px;
}
#floww,
#pdname,
#faq,
#cases {
  margin: 25px 110px;
}

#faq > h4,
#cases > h4 {
  /* margin: 25px 110px; */
  color: #595959;
}
#cases > p {
  /* margin: 25px 110px; */
  color: #757171;
  content: 10px;
  /* font-size: 13px; */
}
#faq > p {
  color: #191818;
}
