.signup {
  display: flex;
}
.signup h1,
.signup h2 {
  padding-left: 30px;
  color: black;
}
img {
  background-color: rgb(255, 245, 245);
}

.input {
  text-align: center;
  width: 100%;
  border: 1px solid red;
}
h3 {
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.input input {
  width: 50%;
  padding: 16px 0px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}
#continue {
  background-color: #a5a5a5;
  color: white;
}
button {
  padding: 10px 5px;
  width: 50%;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #615c5c;
}
[type="submit"] {
  cursor: pointer;
}
