body{
    margin:0px;
    font-family: montserrat,sans-serif;
}
#topbar{
    width: 100%;
    height:26.8px;
    background-color:#eeeeee;
}
#topbardiv,#leftofbar,#rightofbar{
    display: flex;
    align-items: center;
}
#leftofbar{
    width:329.79px;
    height:10.8;
    display: flex;
    justify-content: space-evenly
}
#topbardiv{
    width: 1170px;
    height:24.8px;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
 #topbardiv p{
    font-size:10px;
    color:#000000CC;
    margin:8px
}
#offers{
    width: 30.59px;
    height:12px
}
#fanbook{
    width:47.34px;
    height:12px;
}
#dapp{
    width:91.54px;
    height:12px;
}
#tm{
    width: 96.33px;
    height:12px;
}
#cu{
    width: 55.85px;
    height:12px;
}
#to{
    width: 62.39px;
    height:12px;
}
/* navbar */
#navbar{
    border-bottom: 1px solid rgba(0,0,0,.2);
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;

}
#logo{
    width:147px;
    height: 52px;
}
#img{
    width:195px;
    height: 52px;
    display: flex;
    justify-content:center;
}
#mwm{
    width:487.5px;
    height:52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.men{
    position: relative;
    display: inline-block;
    float: right;
}
.dropdown{
    display:none;
    position: absolute;
    margin-top:16px;
    background-color:white;
    min-width: 160px;
    width: 900px;
    height: 400px;
    z-index:1;
    border: 1px solid rgba(0,0,0,.2);

}

.dropdown a{
    text-decoration: none;
    display: block;
    color:  rgba(11, 6, 6, 0.589);
    
    font-size:12px
}
.dropdown a:hover{
    background-color:#eeeeee;
    color: #ffffff;
}
.men:hover .dropdown{
    display: block;
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
#sldiv{
    width:487.5px;
    height:52px;
    display: flex;
}
#mwmdiv{
    width: 287.93px;
    height:52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#mwmdiv>a{
    text-decoration: none;
    color: black;
}
#inputdiv{
    width:285.29px;
    height:52px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0px 9px;
}
#searchbar{
    width: 270.28px;
    height:40px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #ebeaeb;
    border-radius:5px;

}
#logindiv{
    display: flex;
    width: 184.21px;
    height: 52px;
    justify-content: space-evenly;
    align-items: center
}
#login{
    text-decoration: none;
    color: black;
}
#seperator{
    border-left: solid 1px ;
    width: 1px;
    height: 20px;
}
#cart{
    width: 20px;
    height: 20px;
}
#countryicon{
    width: 30px;
    height: 30px;
}
#inputbar{
    width: 81%;
    font-size:11px;
    background-color: #ebeaeb;
    line-height: 1.5px;
    border:none;
}
#searchicon{
    width: 18px;
    height: 17.6px;
    font-size:18px
}
#afternavbarimg{
    margin-top:10px
}
